{
    "extends": "airbnb",
    "rules": {
        "indent": [2, "tab"],
        "max-len": [2, 140, 4, {"ignoreComments": true, "ignoreUrls": true}],
        "comma-dangle": [2, "never"],
        "no-console": 0,
        "no-alert": 0,
        "no-param-reassign": [2, {"props": false}]
    },
    "env" : {
        "jquery": true // need to be false in release
    }
}
